.gallery-container {
    background-color: #e3e3e3;
}

.imgs-container {
    grid-template-columns: repeat(auto-fill, minmax(33%, max-content));
    margin: 0 auto;
    grid-gap: 15px;
   padding-top: 15px;
}

.imgs-container img {
    width: 100%;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .imgs-container {
      margin:0 40px;
    }
  }