/* Topography */

/*----------  Montserrat  ----------*/

@font-face {
    font-family: 'Mont';
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-bold';
    src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-thin';
    src: url("../fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url("../fonts/impact/impact.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Base */

html {
    font-family: Mont, sans-serif;
    color: #000000;
}

body {
    margin: 0;
    background-color: #e3e3e3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    font-family: Mont, sans-serif;
    font-size: 19px;
    border: 0;
    background-color: transparent;
    padding: 4px;
    border-radius: 12px;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button:focus, input {
    outline: 0;
}

small {
    font-size: 0.8125rem;
    color: #a6a6a6;
}