.main-header{
    background-color: #ff7f00;
   
}

.main-nav {
    justify-content: space-between;
    margin: 0 auto;
    min-height: 97px;
}

img.logo {
    height: 60px;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
}

.nav-item {
    padding: 34px 0px;
    color: white;
    font-size: 19px;
    margin-right: 20px;
}

.nav-item:hover {
    color: #040a2c;
    cursor: pointer;
}

/* Nav button */

.btn-container {
    display: none;
    cursor: pointer;
    z-index: 2;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.btn-container.change {
    position: fixed;
    right: 20px;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 1130px) {
    .main-nav {
        margin-right: 20px;
    }
}

@media (max-width: 920px) {
    .btn-container {
        display: inline-block;
    }
    .nav-items {
        flex-direction: column;
        position: fixed;
        top: -100%;
        z-index: 2;
        align-content: center;
        transition: top 0.8s;
        background-color: #ff7f00;
    }
    .nav-item {
        display: flex;
        width: 100vw;
        border-bottom: 2px solid #ffffff;
        justify-content: center;
    }
    .nav-item.active-nav {
        border-bottom: 2px solid #000000;
    }
}
