.main-header{
    background-color: #ff7f00;
   
}

.main-nav {
    justify-content: space-between;
    margin: 0 auto;
    min-height: 97px;
}

img.logo {
    height: 60px;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
}

.nav-item {
    padding: 32px 0px;
    color: white;
    font-size: 19px;
    margin-right: 20px;
}

.main-nav > * :last-child {
    padding: 32px 0;
}

.nav-item:hover {
    color: #040a2c;
    cursor: pointer;
}

@media (max-width: 1130px) {
    .main-nav {
        margin-right: 20px;
    }
}